.prod-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.prod-nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2em;
}

.prod-nav ul li {
    list-style: none;
    width: auto;
    margin: 0;
}

.prod-nav img {
    height: 1.5em;
    cursor: pointer;
}

.prod-nav .hidden {
    display: none;
}

.prod-nav .seen {
    display: flex;
    border: 1px solid black;
    outline: none;
    padding: .5em .75em;
    border-radius: 16px;
}